<app-topbar #topbardata (topbarModif)='Cautare($event)' [hidden]='tBarHide' [tBarIcon1]='tBarIcon1Hide' [tBarText]='tBarTextCrt' [tBarSearch]='tBarSearchShow' [tBarIcon2]='tBarIcon2Hide'> </app-topbar>

<ion-content>
  <form #mainpageForm="ngForm">
    <ion-grid>

      <ion-row height="44px">
        <ion-item class="linkstyle" [hidden]='!refinedHide' (click)="ShowRefined()" (click)="topbardata.Reseteaza()">
          <ion-label class="style24"> Switch to &nbsp; <b> Refined Search </b> </ion-label>
        </ion-item>

        <ion-item class="linkstyle" [hidden]='refinedHide' (click)="ShowRefined()">
          <ion-label class="style24"> Switch to &nbsp; <b> General Search </b> </ion-label>
        </ion-item>
      </ion-row>

        <div [hidden]='refinedHide'>
          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Transaction type: </ion-note>
              <ion-input class="sfield" name="sGen" placeholder="Request / Offer" [(ngModel)]="sGen" (input)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Limit area: </ion-note>
              <ion-input class="sfield" name="sArea" placeholder="Search Area" [(ngModel)]="sArea" (ionInput)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Tool's category: </ion-note>
              <ion-input class="sfield" name="sCategory" placeholder="Tool Category" [(ngModel)]="sCategory" (ionInput)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Tool's description: </ion-note>
              <ion-input class="sfield" name="sDescription" placeholder="Description" [(ngModel)]="sDescription" (ionInput)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Max price/day: </ion-note>
              <ion-input class="sfield" name="sMaxprice" placeholder="Maximum Price" [(ngModel)]="sMaxprice" (ionInput)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>
        </div>

        <ion-row>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="style2c" > Search on map: </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img src="\assets\Map.jpg" alt="Map">
            </ion-card-content>
          </ion-card>
        </ion-row>

        <ion-row class="searched">
          <ion-slides effectCube>
            <ion-slide *ngFor="let articol of bazaFiltrata">
              <ion-card class="smallest">
                <ion-card-content class="thumbpad" (click)="displayArtModal(articol.gen, articol.titlu, articol.srcimg, articol.zona, articol.categorie, articol.descriere, articol.contact, articol.pretpezi, articol.garantie)">
                  <ion-card-subtitle class="subtext3"> {{articol.categorie}} </ion-card-subtitle>
                  <img  src={{articol.srcimg}} alt={{articol.categorie}}>
                  <p class="microtext"> {{articol.zona}} </p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-row>

        <br><br>

        <ion-row>
          <ion-content>
            <ion-fab horizontal="center" vertical="center" slot="fixed">
              <ion-fab-button class="plus">
                <ion-icon class="acticon" name="add"> </ion-icon>
              </ion-fab-button>

              <ion-fab-list side="start">
                <ion-fab-button class="plus" (click)="displayOfrModal()">
                  <ion-icon class="acticon" name="gift"> </ion-icon>
                </ion-fab-button>
              </ion-fab-list>

              <ion-fab-list side="end">
                <ion-fab-button class="plus" (click)="displayReqModal()">
                  <ion-icon class="acticon" name="megaphone"> </ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-content>
        </ion-row>

    </ion-grid>
  </form>
</ion-content>

<app-footbar [hidden]='fBarHide' [fBarIcon1]='fBarIcon1Hide' [fBarText]='fBarTextCrt' [fBarIcon2]='fBarIcon2Hide'> </app-footbar>
