ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
}
.map{
    height: 100%;
    width: 100%;
    text-align: center;
}
action-buttons {
    display: block;
    width: calc(100% - 16px);
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    text-align: right;
    z-index: 999;

    button {
        display: inline-block;
        margin: 4px;
    }
}