<div #Map class="map">  </div>

        <ion-fab vertical="top" horizontal="start" slot="fixed">
          <ion-fab-button  size = "small" >
            <ion-icon name="add" class = "action"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            <ion-fab-button (click) = "displayProfile()"><ion-icon name="person"></ion-icon></ion-fab-button>
            <ion-fab-button (click) = "displayHelper()"><ion-icon name="help"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
        <ion-fab color = "secondary" vertical ="bottom" horizontal="center" slot="fixed" >
          <ion-fab-button class="plus" >
            <ion-icon class="acticon" name="add"> </ion-icon>
          </ion-fab-button>

          <ion-fab-list side="start">
            <ion-fab-button class="plus" (click)="displayOfrModal()">
              <ion-icon class="acticon" name="gift"> </ion-icon>
            </ion-fab-button>
          </ion-fab-list>

          <ion-fab-list side="end">
            <ion-fab-button class="plus" (click)="displayReqModal()">
              <ion-icon class="acticon" name="megaphone"> </ion-icon>
            </ion-fab-button>
          </ion-fab-list>
     </ion-fab>

