<form footbarForm="ngForm">
  <ion-footer main class="topbar">
    <ion-toolbar color="#FFF">
      <ion-buttons>
        <ion-menu-button class="style011" [hidden]='fBarIcon1'> </ion-menu-button>
        <ion-button class="smallbutton" [hidden]='!fBarIcon1'>
          <ion-icon name="close" class="style013"> </ion-icon>
        </ion-button>

        <ion-label class="style0f" [hidden]='fBarTextshow' (click)="this.router.navigateByUrl('aboutus')"> {{ fBarText }} </ion-label>
        <ion-label class="style0f" [hidden]='!fBarTextshow' (click)="this.router.navigateByUrl('settings')"> {{ fBarText }} </ion-label>

        <ion-back-button class="show-back-button style011" [hidden]='fBarIcon2'> </ion-back-button>
        <ion-button class="smallbutton style013" [hidden]='!fBarIcon2'>
          <ion-icon name="close"> </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</form>
