<div align="center">
  <ion-footer main class="topbar">
    <ion-toolbar>
      <ion-buttons>
        <ion-menu-button class="style01" [hidden]='fBarIcon1'> </ion-menu-button>
        <ion-icon name="close" class="fakeicons" [hidden]='!fBarIcon1'> </ion-icon>
        <ion-label class="style02"> {{ fBarText }} </ion-label>
        <ion-button class="smallbutton" [hidden]='fBarIcon2'> <p class="style01"> ? </p> </ion-button>
        <ion-icon name="close" class="fakeicons" [hidden]='!fBarIcon2'> </ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>
