<app-topbar #topbardata (menuModif)='ShowHideFAB($event)' [hidden]='tBarHide' [tBarIcon1]='tBarIcon1Hide' [tBarText]='tBarTextCrt' [tBarIcon2]='tBarIcon2Hide'> </app-topbar>

<ion-content>
  <form #activityForm="ngForm">
    <ion-grid>
      <ion-col>
        <br>
        <ion-row class="margini2"> <img width="295px" src="\assets\doodleB.svg" alt="FlexLogo"> </ion-row>
        <br>

        <ion-row> <p class="style11"> My past offers: </p> </ion-row>
        <ion-row>      </ion-row>
        <ion-row> <p class="style23"> ... </p> </ion-row>

        <ion-row> <p class="style11"> My past requests: </p> </ion-row>
        <ion-row>      </ion-row>
        <ion-row> <p class="style23"> ... </p> </ion-row>

        <br>
        <ion-row> <p class="style0f"> Want to offer or request something? </p> </ion-row>
        <br><br><br>

        <ion-row>
          <ion-content>
            <ion-fab horizontal="center" vertical="bottom" edge slot="fixed" [hidden]='hideFAB'>
              <ion-fab-button class="fabplus1">
                <ion-icon name="add"> </ion-icon>
              </ion-fab-button>

              <ion-fab-list side="start">
                <ion-fab-button class="fabplus23" (click)="displayOfrModal()">
                  <ion-icon class="acticon" name="gift"> </ion-icon>
                </ion-fab-button>
              </ion-fab-list>

              <ion-fab-list side="end">
                <ion-fab-button class="fabplus23" (click)="displayReqModal()">
                  <ion-icon class="acticon" name="megaphone"> </ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-content>
        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>

<app-footbar [hidden]='fBarHide' [fBarIcon1]='fBarIcon1Hide' [fBarText]='fBarTextCrt' [fBarIcon2]='fBarIcon2Hide'> </app-footbar>
