<form topbarForm="ngForm">
  <ion-header main class="topbar">
    <ion-toolbar color="#FFF">
      <ion-buttons>
        <ion-back-button class="show-back-button style011" [hidden]='tBarIcon1'> </ion-back-button>
        <ion-button class="smallbutton" [hidden]='!tBarIcon1'>
          <ion-icon name="close" class="style013"> </ion-icon>
        </ion-button>

        <ion-label class="style02" [hidden]='tBarSearch'> {{ tBarText }} </ion-label>
        <ion-searchbar color="var(--colorFond)" class="searcher" [hidden]='!tBarSearch' placeholder="Search market" align='left' name="searchTermBar" [(ngModel)]="searchTermBar" debounce="50" (click)="Trimite()" (keyup)="Trimite()"> </ion-searchbar>

        <ion-menu-button class="style011" [hidden]='tBarIcon2'> </ion-menu-button>
        <ion-button class="smallbutton" [hidden]='!tBarIcon2'>
            <ion-icon name="close" class="style013"> </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</form>

<ion-menu side="end" (ionWillOpen)="AscundeFAB()" (ionDidClose)="ArataFAB()">
  <ion-header>
    <ion-item> <ion-label class="style1h"> {{ this.name }} </ion-label> </ion-item>
    <ion-item> <ion-label class="style1sh"> {{ this.phone }} </ion-label> </ion-item>
    <ion-item> <ion-label class="style1ssh"> <em> {{ this.email }} </em> </ion-label> </ion-item>
  </ion-header>

  <ion-content>
    <ion-item>
      <ion-icon name="person" class="style2m"></ion-icon>
      <ion-label class="style1m" (click)="this.router.navigateByUrl('profiler')"> Edit Profile </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon src="\assets\icon\hand-shake.svg" class="style2m"> </ion-icon>
      <ion-label class="style1m" (click)="this.router.navigateByUrl('activity')"> My Activity </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="map" class="style2m"> </ion-icon>
      <ion-label class="style1m" (click)="this.router.navigateByUrl('sharemap')"> On map </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon src="\assets\icon\shop.svg" class="style2m"> </ion-icon>
      <ion-label class="style1m" (click)="this.router.navigateByUrl('market')"> Mixed </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="search" class="style2m"> </ion-icon>
      <ion-label class="style1m" (click)="this.router.navigateByUrl('tooltop')"> By category </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="settings" class="style2m"> </ion-icon>
      <ion-label class="style1m" (click)="this.router.navigateByUrl('settings')"> Settings </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="help-circle-outline" class="style2m"></ion-icon>
      <ion-label class="style1m" (click)="this.router.navigateByUrl('helper')"> Help & FAQ </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon src="\assets\icon\about.svg" class="style2m"> </ion-icon>
      <ion-label class="style1m" (click)="this.router.navigateByUrl('aboutus')"> About us</ion-label>
    </ion-item>
  </ion-content>

  <ion-footer>
    <ion-item>
      <ion-icon name="log-out" class="style2m"> </ion-icon>
      <ion-label class="style1m" (click)="this.router.navigateByUrl('home')"> LogOut </ion-label>
    </ion-item>
  </ion-footer>
</ion-menu>
