<app-topbar [hidden]='tBarHide' [tBarIcon1]='tBarIcon1Hide' [tBarText]='tBarTextCrt' [tBarIcon2]='tBarIcon2Hide'> </app-topbar>

<ion-content>
  <form #loginForm="ngForm">
    <ion-grid>
      <ion-col>
        <ion-row class="margini0"> <img width="305px" src="\assets\doodleL.svg" alt="FlexLogo"> </ion-row>
        <ion-row> <p class="style11"> Log in to your account: </p> </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\Log In\email.svg" alt="mail">
            </figure>
            <ion-input class="infield" name="email" type="email" placeholder="Email" [(ngModel)]="email"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\Log In\padlock.svg" alt="pass">
            </figure>
            <ion-input class="infield" name="password" type="password" placeholder="Password" [(ngModel)]="password"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1"> <ion-button class="bigbutton" (click)="logmein()"> <p class="styleb"> LOGIN </p> </ion-button> </ion-row>
        <ion-row class="style21"> <img src="\assets\Log In\Group Register.svg" alt="separator"> </ion-row>

        <ion-row>
            <ion-fab-button (click)="loginWithFacebook()"> <img src="\assets\icon\Facebook.png" alt="FacebookIcon"> </ion-fab-button>
            <ion-fab-button (click)="loginWithGoogle()"> <img src="\assets\icon\GI.png" alt="GoogleIcon"> </ion-fab-button>
        </ion-row>

        <ion-row> <p class="style21"> Don't have an account? </p> </ion-row>
        <ion-row>
          <ion-item class="linkstyle" (click)="this.router.navigateByUrl('register')">
            <ion-label class="style22"> Sign Up! </ion-label>
          </ion-item>
        </ion-row>

        <ion-row> <p class="style21"> Did you lost your password? </p> </ion-row>
        <ion-row>
          <ion-item class="linkstyle" (click)="this.router.navigateByUrl('lostpass1')">
            <ion-label class="style22"> Recover password! </ion-label>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>

<app-footbar [hidden]='fBarHide' [fBarIcon1]='fBarIcon1Hide' [fBarText]='fBarTextCrt' [fBarIcon2]='fBarIcon2Hide'> </app-footbar>
