ion-button.login-button{
    --background: #37B77A;
    --background-activated: #37B77A;
    --background-focused: #37B77A;
    --background-hover: #37B77A;
    --border-color: #37B77A;
    --box-shadow: 10px 10px;    
    --opacity: 1;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
    --ripple-color: #185324;
    --transition: background-color 15ms linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}