<app-topbar [hidden]='tBarHide' [tBarIcon1]='tBarIcon1Hide' [tBarText]='tBarTextCrt' [tBarIcon2]='tBarIcon2Hide'> </app-topbar>

<ion-content>
  <form #marketForm="ngForm">
    <ion-grid>
      <ion-col>
        <ion-row>
          <ion-card class="thumbcard" (click)="this.popBon( 'Bormasina', '100 LEI' )">
            <ion-card-content class="thumbpad">
              <img id="img01" src="\assets\samples\Ryobi2.jpg"  alt="Bormasina">
              <p class="minitext" id="cart01"> Baciu </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Blaupunkt2.jpg" alt="Bormasina">
              <p class="minitext"> Marasti </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Bosch1.jpg" alt="Bormasina">
              <p class="minitext"> Manastur </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Makita2.jpg" alt="Bormasina">
              <p class="minitext"> Gheorghieni </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Blackdecker2.jpg" alt="Bormasina">
              <p class="minitext"> Gruia </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Milwaukee.jpg" alt="Flex">
              <p class="minitext"> Gheorghieni </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Ryobi.jpg" alt="Flex">
              <p class="minitext"> Gruia </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Blackdecker4.jpg" alt="Flex">
              <p class="minitext"> Baciu </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Blaupunkt.jpg" alt="Flex">
              <p class="minitext"> Marasti </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Makita4.jpg" alt="Flex">
              <p class="minitext"> Manastur </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Dewalt.jpg" alt="Filetanta">
              <p class="minitext"> Marasti </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Blackdecker.jpg" alt="Filetanta">
              <p class="minitext"> Intre Ape </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Bosch3.jpg" alt="Filetanta">
              <p class="minitext"> Baciu </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Makita.jpg" alt="Filetanta">
              <p class="minitext"> Manastur </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Status.jpg" alt="Filetanta">
              <p class="minitext"> Gheorghieni </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Yikoda.jpg" alt="Filetanta">
              <p class="minitext"> Gruia </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Blackdecker3.jpg" alt="Diverse">
              <p class="minitext"> Floresti </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Bosch4.jpg" alt="Diverse">
              <p class="minitext"> Someseni </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Dewalt2.jpg" alt="Diverse">
              <p class="minitext"> Manastur </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Husqvarna.jpg" alt="Diverse">
              <p class="minitext"> Gara </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="thumbcard">
            <ion-card-content class="thumbpad">
              <img src="\assets\samples\Makita3.jpg" alt="Diverse">
              <p class="minitext"> Gruia </p>
            </ion-card-content>
          </ion-card>
        </ion-row>

        <br><br>

        <ion-row>
          <ion-content>
            <ion-fab horizontal="center" vertical="center" slot="fixed">
              <ion-fab-button class="plus">
                <ion-icon class="acticon" name="add"> </ion-icon>
              </ion-fab-button>

              <ion-fab-list side="start">
                <ion-fab-button class="plus" (click)="displayOfrModal()">
                  <ion-icon class="acticon" name="gift"> </ion-icon>
                </ion-fab-button>
              </ion-fab-list>

              <ion-fab-list side="end">
                <ion-fab-button class="plus" (click)="displayReqModal()">
                  <ion-icon class="acticon" name="megaphone"> </ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-content>

        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>

<app-footbar [hidden]='fBarHide' [fBarIcon1]='fBarIcon1Hide' [fBarText]='fBarTextCrt' [fBarIcon2]='fBarIcon2Hide'> </app-footbar>
