<app-topbar [hidden]='tBarHide' [tBarIcon1]='tBarIcon1Hide' [tBarText]='tBarTextCrt' [tBarIcon2]='tBarIcon2Hide'> </app-topbar>

<ion-content>
  <form #aboutusForm="ngForm">
    <ion-grid>
      <ion-col>
        <ion-row class="margini0"> <img src="\assets\icon\Ellipse.svg" alt="FlexLogo"> </ion-row>
        <ion-row> <p class="style11"> Who we are: </p> </ion-row>
        <ion-row> <p class="style23"> We are a young team of IT passionates from Cluj-Napoca, ROMANIA. We dream big to change our planet for good. ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <ion-row> <p class="style11"> ... </p> </ion-row>

        <ion-row> <p class="style11"> Contact Us: </p> </ion-row>
        <ion-row> <p class="style23"> ..... ..... Cluj-Napoca, ROMANIA ....... ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <ion-row> <p class="style23"> ... </p> </ion-row>
        <ion-row> <p class="style11"> ... </p> </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>

<app-footbar [hidden]='fBarHide' [fBarIcon1]='fBarIcon1Hide' [fBarText]='fBarTextCrt' [fBarIcon2]='fBarIcon2Hide'> </app-footbar>
