<ion-content>
  <app-topbar [paginatb]='paginacrt'> </app-topbar>

  <form #lostpass3Form="ngForm">
    <ion-grid>
      <ion-col>
        <ion-row class="margini0"> <img src="\assets\icon\Ellipse.svg" alt="FlexLogo"> </ion-row>
        <ion-row> <p class="style11"> Your reset code was correct. </p> </ion-row>
        <ion-row class="margini3"> <p class="style12"> Please enter a new password: </p> </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\Log In\padlock.svg" alt="pass">
            </figure>
            <ion-input class="infield" name="password" type="password" placeholder="Password" [(ngModel)]="password"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\Log In\padlock.svg" alt="pass">
            </figure>
            <ion-input class="infield" name="confirm" type="password" placeholder="Confirm Password" [(ngModel)]="confirmpass"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-button class="bigbutton" (click)="changepass()"> <p class="styleb"> VALIDATE </p> </ion-button>
        </ion-row>

        <ion-row> <p class="style21"> Don't have an account? </p> </ion-row>

        <ion-row>
          <ion-item class="linkstyle" (click)="this.router.navigateByUrl('register')">
            <ion-label class="style22"> Sign Up! </ion-label>
          </ion-item>
        </ion-row>

        <ion-row> <p class="style21"> - or - </p> </ion-row>
        <ion-row>
          <ion-item class="linkstyle" (click)="this.router.navigateByUrl('login')">
            <ion-label class="style22"> Abort procedure! </ion-label>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
