<ion-content>
  <form #lostpass3Form="ngForm">
    <ion-grid>
      <ion-col>

        <ion-item class="style02" lines="none" detail="false" href="http://localhost:8100/home">
          <ion-icon name="arrow-back" slot="start" margin="2px"> </ion-icon>
          <ion-label class="style01"> Home </ion-label>
        </ion-item>

        <ion-row class="margini0"> <img src="\assets\icon\Ellipse.svg" alt="FlexLogo"> </ion-row>

        <ion-row> <p class="style11"> Your reset code was correct. </p> </ion-row>

        <ion-row class="margini3"> <p class="style12"> Please enter a new password: </p> </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\Log In\padlock.svg" alt="pass">
            </figure>
            <ion-input class="infield" name="password" type="password" placeholder="Password" [(ngModel)]="password"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\Log In\padlock.svg" alt="pass">
            </figure>
            <ion-input class="infield" name="confirm" type="password" placeholder="Confirm Password" [(ngModel)]="confirmpass"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-button class="bigbutton" (click)="changepass()"> <p class="styleb"> CHANGE PASSWORD </p> </ion-button>
        </ion-row>

        <ion-row> <p class="style3"> Don't have an account? </p> </ion-row>

        <ion-row>
          <ion-item  class="linkstyle" detail="false" href="http://localhost:8100/register">
            <ion-label style="color: #F99531; font-size: 20px; font-weight: bold; margin: 5px 10px 5px 10px;"> Sign Up! </ion-label>
          </ion-item>
        </ion-row>

       </ion-col>
    </ion-grid>
  </form>
</ion-content>
