<div align="center">
  <ion-header translucent class="topbar">
    <ion-toolbar>

      <ion-icon slot="start" class="fakeicons" name="close"> </ion-icon>

      <ion-label class="style02"> Insert a New Request: </ion-label>

      <ion-button class="smallbutton" slot="end" (click)="dismissNewrequestModal()">
        <ion-icon class="style01" name="close"> </ion-icon>
      </ion-button>

    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <form #newrequestForm="ngForm">
    <ion-grid>
      <ion-col>
        <ion-row class="marginip"> <img src="\assets\Tools1.jpg" alt="Tools1"> </ion-row>
        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="title" type="text" placeholder="Add a Title" [(ngModel)]="title"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="category" type="text" placeholder="Category" [(ngModel)]="category"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="description" type="text" placeholder="Description" [(ngModel)]="description"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="reqprice" type="text" placeholder="Requested Price" [(ngModel)]="reqprice"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="contactphone" type="tel" placeholder="Contact Phone" [(ngModel)]="contactphone"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-button class="bigbutton" (click)="newRequest()"> <p class="styleb"> INSERT REQUEST </p> </ion-button>
        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
