<ion-header main class="topbar">
  <ion-toolbar color="#FFF">
    <ion-buttons>
      <ion-button class="smallbutton">
        <ion-icon name="close" class="style013"> </ion-icon>
      </ion-button>

      <ion-label class="style02"> Insert a New Request: </ion-label>

      <ion-button class="smallbutton" (click)="dismissNewrequestModal()">
        <ion-icon name="close" class="style012"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #newrequestForm="ngForm">
    <ion-grid>
      <ion-col>
        <ion-row class="marginip"> <img src="\assets\samples\Portavoce.jpg" alt="Tools1"> </ion-row>
        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="title" type="text" placeholder="Add a Title" [(ngModel)]="title"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="category" type="text" placeholder="Category" [(ngModel)]="category"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="description" type="text" placeholder="Description" [(ngModel)]="description"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="reqprice" type="text" placeholder="Requested Price" [(ngModel)]="reqprice"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginis">
          <ion-item lines="none">
            <ion-input class="infield" name="contactphone" type="tel" placeholder="Contact Phone" [(ngModel)]="contactphone"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-button class="bigbutton" (click)="newRequest()"> <p class="styleb"> INSERT REQUEST </p> </ion-button>
        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
