ion-item-divider{
--background: #fff7f2;
--border-color: #0a5e1d;
--box-sizing: border-box; }

ion-label{ position: inherit; }


ion-item{ // Campurile de date introductibile
  --background: #fff7f2;
  --border-color: #fff7f2;
  --border-radius: 100px;
  --shape: round;
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --highlight-height: 0;}
