<app-topbar [hidden]='tBarHide' [tBarIcon1]='tBarIcon1Hide' [tBarText]='tBarTextCrt' [tBarIcon2]='tBarIcon2Hide'> </app-topbar>

<ion-content>
  <form #tooltopForm="ngForm">
    <ion-grid>
      <ion-col>
        <div class="setaridiv">
           <ion-card class="thincard">
             <ion-card-header class="marginih">
               <ion-card-title align="center"> Masini de gaurit: </ion-card-title>
             </ion-card-header>
           </ion-card>
        </div>

        <ion-slides pager>
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Ryobi2.jpg" alt="Bormasina">
                <p class="paratext"> Cartierul Baciu </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Blaupunkt2.jpg" alt="Bormasina">
                <p class="paratext"> Cartierul Marasti </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Bosch1.jpg" alt="Bormasina">
                <p class="paratext"> Cartierul Manastur </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Makita2.jpg" alt="Bormasina">
                <p class="paratext"> Cartierul Gheorghieni </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Blackdecker2.jpg" alt="Bormasina">
                <p class="paratext"> Cartierul Gruia </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>

        <div class="setaridiv">
          <ion-card class="thincard">
            <ion-card-header class="marginih">
              <ion-card-title align="center"> Flexuri: </ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>

        <ion-slides pager>
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Milwaukee.jpg" alt="Flex">
                <p class="paratext"> Cartierul Gheorghieni </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Ryobi.jpg" alt="Flex">
                <p class="paratext"> Cartierul Iris </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Blackdecker4.jpg" alt="Flex">
                <p class="paratext"> Cartierul Baciu </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Blaupunkt.jpg" alt="Flex">
                <p class="paratext"> Cartierul Marasti </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Makita4.jpg" alt="Flex">
                <p class="paratext"> Cartierul Manastur </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>

        <div class="setaridiv">
          <ion-card class="thincard">
            <ion-card-header class="marginih">
              <ion-card-title align="center"> Filetante: </ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>

        <ion-slides pager>
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Dewalt.jpg" alt="Filetanta">
                <p class="paratext"> Cartierul Marasti </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Blackdecker.jpg" alt="Filetanta">
                <p class="paratext"> Cartierul Intre Ape </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Bosch3.jpg" alt="Filetanta">
                <p class="paratext"> Cartierul Baciu </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Makita.jpg" alt="Filetanta">
                <p class="paratext"> Cartierul Manastur </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Status.jpg" alt="Filetanta">
                <p class="paratext"> Cartierul Gheorghieni </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Yikoda.jpg" alt="Filetanta">
                <p class="paratext"> Cartierul Gruia </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>

        <div class="setaridiv">
          <ion-card class="thincard">
            <ion-card-header class="marginih">
              <ion-card-title align="center"> Diverse: </ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>

        <ion-slides pager>
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Blackdecker3.jpg" alt="Diverse">
                <p class="paratext"> Cartierul Floresti </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Bosch4.jpg" alt="Diverse">
                <p class="paratext"> Cartierul Someseni </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Dewalt2.jpg" alt="Diverse">
                <p class="paratext"> Cartierul Manastur </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Husqvarna.jpg" alt="Diverse">
                <p class="paratext"> Cartierul Gara </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-content>
                <img src="\assets\samples\Makita3.jpg" alt="Diverse">
                <p class="paratext"> Cartierul Gruia </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>

        <ion-row>
          <ion-item class="linkstyle" (click)="this.router.navigateByUrl('newrequest')">
            <ion-label class="style22"> Insert a request! </ion-label>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item class="linkstyle" (click)="this.router.navigateByUrl('newoffer')">
            <ion-label class="style22"> Insert an offer! </ion-label>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>

<app-footbar [hidden]='fBarHide' [fBarIcon1]='fBarIcon1Hide' [fBarText]='fBarTextCrt' [fBarIcon2]='fBarIcon2Hide'> </app-footbar>
