<app-topbar #topbardata (topbarModif)='Cautare($event)' (menuModif)='ShowHideFAB($event)' [hidden]='tBarHide' [tBarIcon1]='tBarIcon1Hide' [tBarText]='tBarTextCrt' [tBarSearch]='tBarSearchShow' [tBarIcon2]='tBarIcon2Hide'> </app-topbar>

<ion-content>
  <form #tooltopForm="ngForm">
    <ion-grid>
      <ion-col>

        <ion-row height="44px">
          <ion-item class="linkstyle" [hidden]='!refinedHide' (click)="ShowRefined()" (click)="topbardata.Reseteaza()">
            <ion-label class="style24"> Switch to &nbsp; <b> Refined Search </b> </ion-label>
          </ion-item>

          <ion-item class="linkstyle" [hidden]='refinedHide' (click)="ShowRefined()">
            <ion-label class="style24"> Switch to &nbsp; <b> General Search </b> </ion-label>
          </ion-item>
        </ion-row>

        <div [hidden]='refinedHide'>
          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Transaction type: </ion-note>
              <ion-input class="sfield" name="sGen" placeholder="Request / Offer" [(ngModel)]="sGen" debounce="50" (keyup)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Limit area: </ion-note>
              <ion-input class="sfield" name="sArea" placeholder="Search Area" [(ngModel)]="sArea" debounce="50" (keyup)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Tool's category: </ion-note>
              <ion-input class="sfield" name="sCategory" placeholder="Tool Category" [(ngModel)]="sCategory" debounce="50" (keyup)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Tool's description: </ion-note>
              <ion-input class="sfield" name="sDescription" placeholder="Description" [(ngModel)]="sDescription" debounce="50" (keyup)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="marginis">
            <ion-item lines="none">
              <ion-note class="snote" slot="start"> Max price/day: </ion-note>
              <ion-input class="sfield" name="sMaxprice" placeholder="Maximum Price" [(ngModel)]="sMaxprice" debounce="50" (keyup)="Rafinare()"> </ion-input>
            </ion-item>
          </ion-row>
        </div>

        <div *ngFor="let grupIndexat of bazaSeparata">
           <div class="setaridiv">
            <ion-card class="thincard">
              <ion-card-header class="marginih">
                <ion-card-title class="titluc">{{grupIndexat[0].categ}} </ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>

          <ion-slides pager class="grouped">
            <ion-slide *ngFor="let articol of grupIndexat[1]">
              <ion-card class="maxicard">
                <ion-card-content (click)="displayArtModal( articol )">
                  <ion-card-subtitle class="subtext4"> {{articol.categorie}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{articol.pretpezi}} &nbsp;&nbsp; lei/zi </ion-card-subtitle>
                  <img  src={{articol.srcimg}} alt={{articol.categorie}}>
                  <p class="bottomtext"> {{articol.zona}} </p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
        <br><br>
        <ion-row>
          <ion-content>
            <ion-fab horizontal="center" vertical="bottom" edge slot="fixed" [hidden]='hideFAB'>
              <ion-fab-button class="fabplus1">
                <ion-icon name="add"> </ion-icon>
              </ion-fab-button>

              <ion-fab-list side="start">
                <ion-fab-button class="fabplus23" (click)="displayOfrModal()">
                  <ion-icon class="acticon" name="gift"> </ion-icon>
                </ion-fab-button>
              </ion-fab-list>

              <ion-fab-list side="end">
                <ion-fab-button class="fabplus23" (click)="displayReqModal()">
                  <ion-icon class="acticon" name="megaphone"> </ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-content>
        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>

<app-footbar [hidden]='fBarHide' [fBarIcon1]='fBarIcon1Hide' [fBarTextshow]='fBarTextshowCrt' [fBarText]='fBarTextCrt' [fBarIcon2]='fBarIcon2Hide'> </app-footbar>
