<app-topbar [hidden]='tBarHide' [tBarIcon1]='tBarIcon1Hide' [tBarText]='tBarTextCrt' [tBarIcon2]='tBarIcon2Hide'> </app-topbar>

<ion-content>
  <form #helperForm="ngForm">
    <ion-grid>
      <ion-col>
        <br>
        <ion-row class="margini2"> <img width="320px" src="\assets\BonanzaOrange.svg" alt="FlexLogo"> </ion-row>
        <ion-row> <p class="style11"> Help issues: </p> </ion-row>
        <ion-row> <p class="style23"> 1. .... ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <ion-row> <p class="style23"> 2. .... ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <ion-row> <p class="style23"> 3. .... ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <ion-row> <p class="style23"> 4. .... ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <br>
        <ion-row> <p class="style11"> Selection of FAQs: </p> </ion-row>
        <ion-row> <p class="style23"> 1. .... ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <ion-row> <p class="style23"> 2. .... ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <ion-row> <p class="style23"> 3. .... ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <ion-row> <p class="style23"> 4. .... ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ ........ </p> </ion-row>
        <br>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>

<app-footbar [hidden]='fBarHide' [fBarIcon1]='fBarIcon1Hide' [fBarTextshow]='fBarTextshowCrt' [fBarText]='fBarTextCrt' [fBarIcon2]='fBarIcon2Hide'> </app-footbar>
