// All pages - App Styles
* {
  font-family: 'Barlow', 'Trebuchet MS', Sans-serif !important; }
// max-width: 395px;

.margini0{ //ion-row: general logo
  margin: 20px 20px 10px 20px; }

.margini1{ //ion-row: randuri de inserare + butoane validare
  margin: 12px; }

.margini2{ //ion-row: specific page logos - binoclu
  margin: 15px 47px 0px 10px; }

.margini3{ //ion-row: answer one
  margin: 10px 12px 10px 12px; }

.marginih{ //paragraph: in slides
  padding: 10px 10px 10px 10px; }

.myicons{ //img: small icons
  width: 18px;
  height: 20px;
  margin-left: 14px; }

.infield{ //ion-input: campurile de inserare
  width: 305px;
  height: 48px;
  font-size: 18px;
  color: #7A7A7A;
  background: rgba(255, 255, 255, 0.6); //alb 60%, combinat cu fondul
  border: 1px solid rgba(0, 0, 0, 0.1); //gri 10%
  border-radius: 28px;
  padding: 0px 2px 0px 58px !important; }

.digitfield{ //ion-input: campurile de digits
  width: 44px;
  height: 44px;
  font-size: 110%;
  color: #7A7A7A;
  text-align: center;
  background: rgba(255, 255, 255, 0.6); //alb 60%, combinat cu fondul
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px 12px 0px 12px;
  padding: 10px 4px 10px 4px !important; }

.mydrop{ //img: lacrima
  top: 2px;
  position: relative;
  left: 1px;
  z-index: -1; }

.figicon{ //figure: small white icons
  margin: 0;
  position: absolute;
  z-index: 5; }

.figicon img{
  margin: 0; }

.figicon img:last-child{
  height: 20px;
  left: 50%;
  margin: -10px 0 0 -11px;
  position: absolute;
  top: 50%;
  width: 18px; }

.setaridiv{ // div: setarea la thincard
  display: flex;
  justify-content: center; }

ion-card{ // setarea generala
  display: flex;
  width: 400px;
  border-radius: 10px !important;
  margin: 10px 30px 10px 30px !important; }

ion-card.medcard{ // carduri medii
  display: flex;
  width: 240px !important;
  border-radius: 10px !important;
  margin: 5px 5px 5px 5px !important; }

ion-card.thumbcard{ // carduri mici
  display: flex;
  width: 170px !important;
  border-radius: 5px !important;
  margin: 5px 5px 5px 5px !important; }

ion-card.thincard{ // carduri inguste
  margin: 10px 30px -5px 30px !important; }

ion-card-header{ // setarea generala
  padding: 10px 2px 0px 2px !important; }

ion-card-content{ // setarea generala
  padding: 13px 13px 13px 13px !important; }

ion-card-content.thumbpad{ // carduri medii si mici
  padding: 10px 10px 10px 10px !important; }

ion-card-title{ // setarea generala
  font-size: 22px;
  font-weight: bold;
  color: #37B77A;
  margin: 0px 5px 10px 5px; }

ion-card-subtitle{ // setarea generala
  font-size: 16px;
  color: #ADADAD;
  margin: 5px 5px -5px 5px; }

.paratext{ // paragraph: in slides
  font-size: 18px !important;
  color: #37B77A;
  margin: 10px 10px 15px 10px !important; }

.minitext{ // paragraph: in slides
  font-size: 16px !important;
  color: #37B77A;
  text-align: center;
  margin: 0px 5px -5px 5px !important; }

.swiper-pagination-bullet{ // punctele de la swipe
  width: 12px;
  height: 12px;
  --bullet-background: #ADADAD;
  --bullet-background-active: #F99531;
  margin: 12px 8px 10px 8px !important;
  display: inline-block;
  border-radius: 100%;
  opacity: 0.8; }

ion-content{ // fondul tuturor ecranelor
  --background: white;
  --margin: auto; }

ion-item{ // setarea generala
  --background: white;
  --border-color: white;
  --border-radius: 25px;
  --inner-padding-end: 0px;
  --inner-border-width: 0px;
  --justify-content: center !important;
  --align-items: center !important;
  --padding-start: 0px; }

ion-item.linkstyle{ // link orange + la 4 digits
  --background: white;
  --background-focused: white; // la trecere cu Tab
  --background-activated: white; // la apasare
  --background-hover: white; // la trecere cu mouse
  --border-radius: 10px;
  --inner-padding: 0px 10px 0px 10px; }

ion-row{ // SETAREA GENERALA
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center; }

ion-col{ // setarea generala + la casutele de digits
 --ion-grid-column-padding: 0px; }

ion-fab-button{ // Butoanele de FB si G+
  margin: 10px 30px 20px 30px;
  --background: clear; }

ion-button{ // setarea generala
  --border-radius: 23px;
  height: 45px;
  margin-top: 0px;
  margin-bottom: 0px; }

.bigbutton{ // ion-button: butonul mare
  width: 305px;
  --background: #37B77A;
  --background-activated: #2E9664; // la apasare
  --background-hover: #2E9664; } // la trecere cu mouse

.bigbutton2{ // ion-button: butonul mare negativ
  width: 305px;
  --background: #FFFFFF;
  --background-activated: #E8E8E8; // la apasare
  --background-hover: #E8E8E8;  // la trecere cu mouse
  border: 3px solid #37B77A;
  border-radius: 23px; }

.addbutton{ // ion-button: butonul de "select image"
  width: 216px;
  --background: #37B77A;
  --background-activated: #2E9664; // la apasare
  --background-hover: #2E9664; } // la trecere cu mouse

.remvbutton{ // ion-button: butonul de "remove image"
  width: 80px;
  --background: #37B77A;
  --background-activated: #2E9664; // la apasare
  --background-hover: #2E9664; } // la trecere cu mouse

.smallbutton{ // ion-button: butonul de arrow si account
  width: 42px;
  --box-shadow: none;
  --background: white;
  --background-focused: #F8F8F8 !important; // la trecere cu Tab
  --background-activated: #F8F8F8 !important; // la apasare
  --background-hover: #F8F8F8 !important; } // la trecere cu mouse

.styleb{ // p: scrisul pe butoane
  font-weight: bold;
  font-size: 18px;
  color: white; }

.styleb2{ // p: scrisul pe butoane negative
  font-weight: bold;
  font-size: 18px;
  color: #37B77A; /*verde*/ }

.topbar{ // bara de sus
  max-width: 400px; }

.searcher{ // bara de search
  padding: 0px !important;
  max-width: 305px; }

.style01{ // ion-icon: arrow
  font-size: 24px;
  margin: 0px;
  color: #7A7A7A;
  //display: none;
  padding: 0px; }

.style02{ // ion-label: header writing
  font-weight: bold;
  font-size: 20px !important;
  text-align: center;
  margin: auto;
  color: #7A7A7A !important; }

.style11{ // ion-row: question one
  font-weight: bold;
  font-size: 18px;
  margin: 15px 10px 10px 10px;
  color: #7A7A7A; }

.style12{ // ion row: answer one
  font-size: 16px;
  width: 305px;
  text-align: center;
  margin: 0px 0px 5px 0px;
  color: #7A7A7A; }

.style21{ // ion-row: question two + group.svg
  font-size: 18px;
  margin: 8px 10px 0px 10px;
  color: #7A7A7A; }

.style22{ // ion-label: answer two
  color: #F99531 !important; // portocaliu
  font-size: 20px !important;
  font-weight: bold;
  margin: 0px 10px 0px 10px; }

.style23{ // ion-row: long description
  font-size: 18px;
  max-width: 385px;
  margin: 8px 10px 0px 10px;
  color: #7A7A7A; }

.style1m{ // ion-label: menu
  margin: 5px 0px 5px 0px; }

.style2m{ // ion-icon: menu icons
    slot: start;
    width: 34px;
    height: 34px;
    margin: 0px 12px 0px 12px;
    color: #7A7A7A;
    padding: 1px; }
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
