// All pages - App Styles
* {
  font-family: 'Barlow', 'Trebuchet MS', Sans-serif !important; }
// max-width: 395px;

.margini0{ //ion-row: log-uri
  margin: 10px 15px 0px 15px; }

.margini1{ //ion-row: randuri de inserare + butoane validare
  margin: 12px; }

.margini2{ //ion-row: specific page logos - binoclu
  margin: 5px 15px 0px 15px; }

.margini3{ //ion-row: answer one
  margin: 10px 12px 10px 12px; }

.marginih{ //paragraph: in slides
  padding: 10px 10px 10px 10px; }

.marginip{ //ion-row: photos
  margin: 0px auto 0px auto;
  align: center !important;
  max-width: 280px; }

.round{
  border-radius: 100% !important; }

.myicons{ //img: small icons
  width: 18px;
  height: 20px;
  margin-left: 14px; }

.fakeicons{ //ion-icon: fake icons
  width: 48px;
  height: 48px;
  color: #FFF; } // alb

.infield{ //ion-input: campurile de inserare
  width: 305px;
  height: 48px;
  font-size: 18px;
  color: #7A7A7A; // gri
  background: rgba(255, 255, 255, 0.6); //alb 60%, combinat cu fondul
  border: 1px solid rgba(0, 0, 0, 0.1); //gri 10%
  border-radius: 28px;
  padding: 0px 2px 0px 58px !important; }

.marginis{ //ion-row: randuri de inserare la search
  margin: 6px; }

.sfield{ //ion-input: campurile de cautare
  width: 250px;
  height: 48px;
  font-size: 18px;
  color: #7A7A7A; // gri
  background: rgba(255, 255, 255, 0.6); //alb 60%, combinat cu fondul
  border: 1px solid rgba(0, 0, 0, 0.1); //gri 10%
  border-radius: 28px;
  padding: 0px 5px 0px 20px !important; }

.snote{ //ion-note: notele de langa campurile de cautare
  width: 145px;
  height: 42px;
  font-size: 18px;
  color: #7A7A7A; // gri
  margin: auto !important;
  padding: 10px 0px 10px 0px !important; }

.marginia{ //ion-row: randuri de la prezentare articol
  margin: 0px;
  height: 44px; }

.afield{ //ion-label: campurile de articol
  width: 230px;
  height: 34px !important;
  font-size: 18px !important;
  color: #7A7A7A !important; // gri
  background: rgba(255, 255, 255, 0.6); //alb 60%, combinat cu fondul
  border: 1px solid rgba(0, 0, 0, 0.1); //gri 10%
  border-radius: 28px;
  margin: 8px 0px 8px 0px !important;
  padding: 2px 5px 2px 10px !important; }

.xfield{ //ion-label: camp blank la articol
  width: 198px;
  height: 34px !important;
  font-size: 18px !important;
  color: #FFF; // alb
  background: rgba(255, 255, 255, 0.0); //alb 100%, combinat cu fondul
  border: 1px solid rgba(0, 0, 0, 0.0); //gri 0%
  border-radius: 28px;
  margin: 8px 0px 8px 0px !important;
  padding: 2px 5px 2px 10px !important; }

.anote{ //ion-note: notele de langa campurile de articol
  width: 100px;
  height: 34px;
  font-size: 18px;
  color: #7A7A7A; // gri
  text-align: right;
  margin: 8px 5px 8px 0px !important;
  padding: 2px 0px 2px 0px !important; }

.digitfield{ //ion-input: campurile de digits
  width: 44px;
  height: 44px;
  font-size: 110%;
  color: #7A7A7A; // gri
  text-align: center;
  background: rgba(255, 255, 255, 0.6); //alb 60%, combinat cu fondul
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px 12px 0px 12px;
  padding: 10px 4px 10px 4px !important; }

.mydrop{ //img: lacrima
  top: 2px;
  position: relative;
  left: 1px;
  z-index: -1; }

.figicon{ //figure: small white icons
  margin: 0;
  position: absolute;
  z-index: 5; }

.figicon img{
  margin: 0; }

.figicon img:last-child{
  height: 20px;
  left: 50%;
  margin: -10px 0 0 -11px;
  position: absolute;
  top: 50%;
  width: 18px; }

.setaridiv{ // div: setarea la thincard
  display: flex;
  justify-content: center; }

ion-card{ // setarea generala
  display: flex;
  width: 400px;
  border-radius: 10px !important;
  margin: 10px 30px 10px 30px !important; }

ion-card.biggercard{ // carduri marioace
  display: flex;
  width: 380px !important;
  border-radius: 10px !important;
  margin: 5px 5px 5px 5px !important; }

ion-card.bigcard{ // carduri mari
  display: flex;
  width: 250px !important;
  border-radius: 10px !important;
  margin: 5px 5px 5px 5px !important; }

ion-card.medcard{ // carduri medii
  display: flex;
  width: 200px !important;
  border-radius: 10px !important;
  margin: 5px 5px 5px 5px !important; }

ion-card.roundcard{ // carduri rotunde
  display: flex;
  width: 180px !important;
  border-radius: 90px !important;
  margin: 10px 5px 10px 5px !important; }

ion-card.thumbcard{ // carduri mici
  display: flex;
  width: 170px !important;
  border-radius: 5px !important;
  margin: 5px 5px 5px 5px !important; }

ion-card.smallest{ // carduri foarte mici
  width: 110px !important;
  border-radius: 3px !important;
  margin: 3px 3px 3px 3px !important; }

ion-card.thincard{ // carduri inguste
  margin: 10px 30px -5px 30px !important; }

ion-card-header{ // setarea generala
  padding: 10px 2px 0px 2px !important; }

ion-card-content{ // setarea generala
  padding: 13px 13px 13px 13px !important; }

ion-card-content.thumbpad{ // carduri medii si mici
  padding: 10px 10px 10px 10px !important; }

ion-card-title{ // setarea generala
  font-size: 22px;
  font-weight: bold;
  color: #37B77A; // verde
  margin: 0px 5px 10px 5px; }

.subtext1{ // setarea subtitle home
  font-size: 16px;
  color: #7A7A7A; // gri
  margin: 5px 5px -5px 5px; }

.subtext2{ // subtitle thumbcard
    font-size: 16px;
    color: #7A7A7A; // gri
    text-align: left;
    margin: 5px 5px 5px 5px; }

.subtext3{ // subtitle thumbcard
  font-size: 12px;
  color: #7A7A7A; // gri
  text-align: left;
  margin: 4px 4px 4px 4px; }

.paratext{ // paragraph: in slides
  font-size: 18px !important;
  color: #37B77A; // verde
  margin: 10px 10px 15px 10px !important; }

.minitext{ // paragraph: in slides
  font-size: 16px !important;
  color: #37B77A; // verde
  text-align: center;
  margin: 0px 5px -5px 5px !important; }

.microtext{ // paragraph: in slides
  font-size: 14px !important;
  color: #37B77A; // verde
  text-align: center;
  margin: 0px 5px -5px 5px !important; }

.swiper-pagination-bullet{ // punctele de la swipe
  width: 12px;
  height: 12px;
  --bullet-background: #ADADAD; // gri
  --bullet-background-active: #F99531; // orange
  margin: 12px 8px 10px 8px !important;
  display: inline-block;
  border-radius: 100%;
  opacity: 0.8; }

ion-content{ // fondul tuturor ecranelor
  --background: white;
  --margin: auto; }

ion-item{ // setarea generala
  --background: white;
  --border-color: white;
  --border-radius: 25px;
  --inner-padding-end: 0px;
  --inner-border-width: 0px;
  --justify-content: center !important;
  --align-items: center !important;
  --padding-start: 0px; }

ion-item.linkstyle{ // link orange + la 4 digits
  --background: white;
  --background-focused: white; // la trecere cu Tab
  --background-activated: white; // la apasare
  --background-hover: white; // la trecere cu mouse
  --border-radius: 10px;
  --inner-padding: 0px 10px 0px 10px; }

ion-row{ // SETAREA GENERALA
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center; }

.searched{
  max-width: 400px;
  margin: auto; }

ion-col{ // setarea generala + la casutele de digits
 --ion-grid-column-padding: 0px; }

ion-fab-button.fbgg{ // Butoanele de FB si G+
  margin: 10px 30px 20px 30px;
  --background: clear; }

ion-fab-button.plus{ // Butoanele de +
  --color: #37B77A; // verde
  width: 50px;
  height: 50px;
  margin: 12px; }

ion-button{ // setarea generala
  --border-radius: 23px;
  height: 45px;
  margin-top: 0px;
  margin-bottom: 0px; }

.bigbutton{ // ion-button: butonul mare
  width: 305px;
  --background: #37B77A; // verde
  --background-activated: #2E9664; // verde-tare - la apasare
  --background-hover: #2E9664; } // verde-tare - la trecere cu mouse

.acticon{ // ion-icon: butonul mare
  color: #37B77A; // verde
  font-size: 30px;
  font-weight: bold; }

.bigbutton2{ // ion-button: butonul mare negativ
  width: 305px;
  --background: #FFFFFF; // alb
  --background-activated: #E8E8E8; // gri - la apasare
  --background-hover: #E8E8E8;  // gri - la trecere cu mouse
  border: 3px solid #37B77A; // verde
  border-radius: 23px; }

.bigbutton3{ // ion-button: butonul mare negativ
  width: 305px;
  --background: #FFFFFF; // alb
  --background-activated: #E8E8E8; // gri - la apasare
  --background-hover: #E8E8E8;  // gri - la trecere cu mouse
  text-transform: none;
  border: 3px solid #F99531; // verde
  border-radius: 23px; }

.addbutton{ // ion-button: butonul de "select image"
  width: 185px;
  --background: #37B77A; // verde
  --background-activated: #2E9664; // verde-tare - la apasare
  --background-hover: #2E9664; } // verde-tare - la trecere cu mouse

.remvbutton{ // ion-button: butonul de "remove image"
  width: 60px;
  --background: #37B77A; // verde
  --background-activated: #2E9664; // verde-tare - la apasare
  --background-hover: #2E9664; } // verde-tare - la trecere cu mouse

.smallbutton{ // ion-button: butonul de arrow si account
  width: 45px !important;
  height: 45px !important;
  --border-radius: 23px !important;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --box-shadow: none;
  --background: white;
  --background-focused: #F8F8F8 !important; // gri - la trecere cu Tab
  --background-activated: #F8F8F8 !important; // gri - la apasare
  --background-hover: #F8F8F8 !important; } // gri - la trecere cu mouse

.styleb{ // p: scrisul pe butoane
  font-weight: bold;
  font-size: 18px;
  color: white; }

.styleb2{ // p: scrisul pe butoane negative
  font-weight: bold;
  font-size: 18px;
  color: #37B77A; } // verde

 .styleb3{ // p: scrisul pe butoane negative
  font-size: 18px;
  color: #F99531; } // orange

.topbar{ // bara de sus
  max-width: 400px; }

.header-md:after { // bara de header - setare generala
  bottom: -2px;
  background-position: left 0 top 0px;
  height: 2px; }

.footer-md:before { // bara de footer - setare generala
  top: -2px;
  background-position: left 0 top 0;
  height: 2px; }

.searcher{ // bara de search
  padding: 0px !important;
  max-width: 305px; }

.style01{ // ion-icon: arrow
  font-size: 26px !important;
  margin: 0px;
  color: #7A7A7A !important; // gri
  padding: 0px; }

.style02{ // ion-label: header writing
  font-weight: bold;
  font-size: 20px !important;
  text-align: center;
  margin: auto;
  color: #7A7A7A !important; } // gri

.style0f{ // ion-label: footbar writing + FAB text
  font-weight: bold;
  font-size: 20px !important;
  text-align: center;
  margin: auto;
  color: #37B77A !important; } // albastru

.style10{ // ion-row: question one
  font-weight: bold;
  font-size: 18px;
  color: #7A7A7A; } // gri

.style11{ // ion-row: question one
  font-weight: bold;
  font-size: 18px;
  margin: 15px 10px 10px 10px;
  color: #7A7A7A; } // gri

.style12{ // ion row: answer one
  font-size: 16px;
  width: 305px;
  text-align: center;
  margin: 0px 0px 5px 0px;
  color: #7A7A7A; } // gri

.style2c{ // ion-card-title: question two + group.svg
  margin-start: 10px !important;
  margin-end: 10px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.style21{ // ion-row: question two + group.svg
  font-size: 18px;
  margin: 8px 10px 0px 10px;
  color: #7A7A7A; } // gri

.style22{ // ion-label: answer two
  color: #F99531 !important; // orange
  font-size: 20px !important;
  font-weight: bold;
  margin: 0px 10px 0px 10px; }

.style23{ // ion-row: long description
  font-size: 18px;
  max-width: 385px;
  margin: 8px 10px 0px 10px;
  color: #7A7A7A; } // gri

.style31{ // text: la checkbox
  font-size: 18px;
  margin: 8px 10px 8px 10px;
  color: #7A7A7A; } // gri

.style32{ // text: la popup
  font-size: 18px;
  margin: 0px;
  color: #7A7A7A; } // gri

.style1m{ // ion-label: menu
  margin: 5px 0px 5px 0px; }

.style2m{ // ion-icon: menu icons
    slot: start;
    width: 34px;
    height: 34px;
    margin: 0px 12px 0px 12px;
    color: #7A7A7A; // gri
    padding: 1px; }

.style2k{ // ion-icon: checkbox
  margin: 2px;
  color: #7A7A7A; // gri
  padding: 1px; }

// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
.sc-ion-modal-md-h {
    --border-radius: 4px;
//  --width: 300px;
//  --height: 500px;
    --ion-safe-area-top: 1%;
    --ion-safe-area-bottom: 1%;
    --ion-safe-area-right: 1%;
    --ion-safe-area-left: 1%;
    --width: 88%;
    --max-width: 395px !important;
    --height: 94%;
    --min-height: 580px;
    --max-height: auto;
    --background: var(--ion-background-color,#FFF); } // alb
