// All pages - App Styles
.margini0{ //ion-row: general logo
  margin: 20px; }

.margini1{ //ion-row: randuri de inserare + butoane validare
  margin: 12px; }

.margini2{ //ion-row: specific page logos
  margin: 10px 47px 0px 10px; }

.margini3{ //ion-row: specific page logos
  margin: 10px 30px 10px 30px; }

.marginih{ //paragraph: in slides
  padding: 10px 10px 10px 10px; }

.myicons{  //img: small icons
  width: 18px;
  height: 20px;
  margin-left: 14px; }

.infield{ //ion-input: campurile de inserare
  width: 305px;
  height: 46px;
  font-size: 18px;
  color: #7A7A7A;
  background: rgba(255, 255, 255, 0.6); //alb 70%, combinat cu fondul
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  padding-left: 60px !important; }

.digitfield{ //ion-input: campurile de digits
  width: 44px;
  height: 44px;
  font-size: 110%;
  color: #7A7A7A;
  text-align: center;
  background: rgba(255, 255, 255, 0.6); //alb 60%, combinat cu fondul
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px 12px 0px 12px;
  padding: 10px 4px 10px 4px !important; }

.mydrop{ //img: lacrima
  align-self: center;
  z-index: -1;
  margin-right: 0.5em; }

.figicon{ //figure: small icons
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 5; }

.figicon img{
  margin: 0; }

.figicon img:last-child{
  height: 20px;
  left: 50%;
  margin: -12px 0 0 -13px;
  position: absolute;
  top: 50%;
  width: 18px; }

.setaridiv{ // div: setarea generala
  display: flex;
  justify-content: center; }

ion-card{ // setarea generala
  display: flex;
  //justify-content: center;
  width: 400px;
  border-radius: 10px !important;
  margin: 10px 30px 10px 30px !important; }

ion-card.thumbcard{
  display: flex;
  width: 170px !important;
  border-radius: 5px !important;
  margin: 5px 5px 5px 5px !important; }

ion-card.thincard{
  margin: 10px 30px -5px 30px !important; }

ion-card-header{ // setarea generala
  padding: 10px 2px 0px 2px !important; }

ion-card-content.thumbpad{ // setarea generala
  padding: 10px 10px 10px 10px !important; }

ion-card-title{ // setarea generala
  font-size: 22px;
  color: #37B77A;
  margin: 0px 5px 10px 5px; }

ion-card-subtitle{ // setarea generala
  font-size: 16px;
  color: #ADADAD;
  margin: 5px 5px -5px 5px; }

.paratext{ //paragraph: in slides
  font-size: 18px !important;
  color: #37B77A;
  margin: 10px 10px 15px 10px !important; }

.minitext{ //paragraph: in slides
  font-size: 16px !important;
  color: #37B77A;
  text-align: center;
  margin: 0px 5px -5px 5px !important; }

.swiper-pagination-bullet{ // punctele de la swipe
  width: 12px;
  height: 12px;
  --bullet-background: #ADADAD;
  --bullet-background-active: #F99531;
  margin: 12px 8px 10px 8px !important;
  display: inline-block;
  border-radius: 100%;
  opacity: 0.8; }

ion-content{ // fondul tuturor ecranelor
  --background: #fff7f2; //rose ivory
  --margin: auto; }

ion-item{ // setarea generala
  --background: #fff7f2;
  --border-color: #fff7f2;
  --border-radius: 100px;
  --shape: round;
  --inner-padding-top: 0px;
  --inner-padding-end: -1px;
  --padding-start: 0px; }

ion-item.linkstyle{ // link orange + la 4 digits
  --background: #FFF7F2;
  --background-focused: #FFF7F2; // la trecere cu Tab
  --background-activated: #FFF7F2; // la apasare
  --background-hover: #FFF7F2; // la trecere cu mouse
  --border-radius: 100px;
  --inner-padding: 0px 25px 0px 25px; }

ion-row{ // setarea generala
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center; }

ion-col{ // setarea generala + la casutele de digits
 --ion-grid-column-padding: 5px; }

ion-fab-button{ // Butoanele de FB si G+
  margin: 10px 30px 20px 30px;
  --background: clear; }

ion-button{ // setarea generala
  --border-radius: 28px;
  margin-top: 0px;
  margin-bottom: 0px; }

.bigbutton{ // ion-button: butonul mare
  width: 305px;
  height: 45px;
  --background: #37B77A;
  --background-activated: #2E9664; // la apasare
  --background-hover: #2E9664; } // la trecere cu mouse

.bigbutton2{ // ion-button: butonul mare negativ
  width: 305px;
  height: 45px;
  --background: #FFFFFF;
  --background-activated: #2E9664; // la apasare
  --background-hover: #2E9664;  // la trecere cu mouse
  border: 3px solid #37B77A;
  border-radius: 28px; }

.styleb{ // p: scrisul pe butoane
  font-weight: bold;
  font-size: 16px;
  color: #FFF7F2; }

.styleb2{ //p: scrisul pe butoane negative
 font-weight: bold;
 font-size: 16px;
 color: #37B77A; /*verde*/ }

.style01{ // ion-label: arrow header writing
  margin: 0px 10px 0px 25px;
  padding: -25px 10px -20px 10px; }

.style02{ // ion-item: arrow header writinG
  font-weight: bold;
  font-size: 16px;
  margin: 0px 5px 10px 5px;
  color: #7A7A7A; }

.style11{ // ion-row: question one
  font-weight: bold;
  font-size: 18px;
  margin: 5px 10px 5px 10px;
  color: #7A7A7A; }

.style12{ // ion row: answer one
  font-size: 16px;
  margin: 0px 10px 0px 10px;
  color: #7A7A7A; }

.style21{ // ion-row: question two + group.svg
  font-size: 18px;
  margin: 8px 10px 8px 10px;
  color: #7A7A7A; }

.style22{ // ion-label: answer two
  color: #F99531 !important; // portocaliu
  font-size: 20px !important;
  font-weight: bold;
  margin: 5px 10px 5px 10px; }

// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
