<ion-content>
  <form #lostpass1Form="ngForm">
    <ion-grid>
      <ion-col>

        <ion-item class="style02" lines="none" detail="false" href="http://localhost:8100/login">
          <ion-icon name="arrow-back" slot="start" margin="2px"> </ion-icon>
          <ion-label class="style01"> Request Code </ion-label>
        </ion-item>

        <ion-row class="margini0"> <img src="\assets\icon\Ellipse.svg" alt="FlexLogo"> </ion-row>

        <ion-row> <p class="style11"> Forgot your password? </p> </ion-row>

        <ion-row class="margini3"> <p class="style12"> We will send a verification code to your registered email. </p> </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
               <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
               <img class="myicons" src="\assets\Log In\email.svg" alt="mail">
            </figure>
            <ion-input class="infield" name="email" type="email" placeholder="Email" [(ngModel)]="email"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1"> <ion-button class="bigbutton" (click)="getcode()"> <p class="styleb"> SEND CODE </p> </ion-button> </ion-row>

        <ion-row> <p class="style21"> Don't have an account? </p> </ion-row>

        <ion-row>
          <ion-item class="linkstyle" detail="false" href="http://localhost:8100/register">
            <ion-label class="style22"> Sign Up! </ion-label>
          </ion-item>
        </ion-row>

       </ion-col>
    </ion-grid>
  </form>
</ion-content>
