<div align="center">
  <ion-header translucent class="topbar">
    <ion-toolbar>
      <ion-icon slot="start" class="fakeicons" name="close"> </ion-icon>
      <ion-label class="style02"> These are the details: </ion-label>
      <ion-button class="smallbutton" slot="end" (click)="dismissArticolModal()">
        <ion-icon class="style01" name="close"> </ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <form #articolForm="ngForm">
    <ion-grid>
      <ion-col>
        <ion-row class="marginia">
          <ion-item lines="none">
            <ion-note class="anote"> Type: </ion-note>
            <ion-label class="afield" name="genA"> {{genArt}} </ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="marginia">
          <ion-item lines="none">
            <ion-note class="anote"> Header: </ion-note>
            <ion-label class="afield" name="titluA"> {{titluArt}} </ion-label>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-card class="bigcard" [hidden]='!cardSwitch'>
            <ion-card-content class="thumbpad">
              <img class="round" src={{srcimgArt}} alt={{categorieArt}}/>
            </ion-card-content>
            <ion-fab horizontal="end" vertical="bottom" slot="fixed">
              <ion-fab-button class="plus" (click)="Mareste()">
                <ion-icon src="\assets\icon\zoom-in.svg" class="acticon"> </ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-card>

          <ion-card class="biggercard" [hidden]='cardSwitch'>
            <ion-card-content class="thumbpad">
              <img class="round" src={{srcimgArt}} alt={{categorieArt}}/>
            </ion-card-content>
          <ion-fab horizontal="end" vertical="bottom" slot="fixed">
            <ion-fab-button class="plus" (click)="Mareste()">
              <ion-icon src="\assets\icon\zoom-out.svg" class="acticon"> </ion-icon>
            </ion-fab-button>
          </ion-fab>
          </ion-card>
        </ion-row>

        <ion-row class="marginia">
          <ion-item lines="none">
            <ion-note class="anote"> Limit area: </ion-note>
            <ion-label class="afield" name="zonaA"> {{zonaArt}} </ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="marginia">
          <ion-item lines="none">
            <ion-note class="anote"> Category: </ion-note>
            <ion-label class="afield" name="categorieA"> {{categorieArt}} </ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="marginia">
          <ion-item lines="none">
            <ion-note class="anote"> Description: </ion-note>
            <ion-label class="afield" name="descriereA"> {{descriereArt}} </ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="marginia">
          <ion-item lines="none">
            <ion-note class="anote"> Contact: </ion-note>
            <ion-label class="afield" name="contactA"> {{contactArt}} </ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="marginia">
          <ion-item lines="none">
            <ion-note class="anote"> Price/day: </ion-note>
            <ion-label class="afield" name="pretpeziA"> {{pretpeziArt}} </ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="marginia">
          <ion-item lines="none">
            <ion-note class="anote"> Warranty: </ion-note>
            <ion-icon class="style2k" src="\assets\icon\check-box-empty.svg" [hidden]='garantieArt'> </ion-icon>
            <ion-icon class="style2k" src="\assets\icon\check-box.svg" [hidden]='!garantieArt'> </ion-icon>
            <ion-label class="xfield" ></ion-label>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
