<ion-content>
  <form #newofferForm="ngForm">
    <ion-grid>
        <ion-col>

          <ion-item class="style02" lines="none" detail="false" href="http://localhost:8100/market">
            <ion-icon name="arrow-back" slot="start" margin="2px"> </ion-icon>
            <ion-label class="style01"> New Offer </ion-label>
          </ion-item>

          <ion-row> <p class="style11"> Insert a new offer: </p> </ion-row>

          <ion-row>
             <ion-card class="medcard">
               <ion-card-content class="thumbpad">
                 <span *ngIf="uploadImage === null"> <img id="initialImage" src="\assets\samples\Background.jpg" /> </span>
                 <span *ngIf="uploadImage != null"> <img id="checkinImage" [src]="uploadImage" (load)="imageLoaded()" /> </span>
                 <span *ngIf="processing"> <ion-spinner> </ion-spinner> <h1>Processing...</h1> </span>
               </ion-card-content>
             </ion-card>
           </ion-row>

          <ion-row class="margini1">
            <input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden />
            <ion-button class="addbutton" icon-left (click)="addPicture(fileLoader)">
              <ion-icon name="camera"> </ion-icon>
              <p class="styleb"> &nbsp;&nbsp;SELECT IMAGE </p>
            </ion-button>
            <ion-button class="remvbutton" icon-left (click)="removePic()" [disabled]="uploadImage === null">
              <ion-icon name="trash"> </ion-icon>
            </ion-button>
          </ion-row>

          <ion-row class="margini1">
            <ion-item lines="none">
              <ion-input  class="infield" name="title" type="text" placeholder="Add a Title" [(ngModel)]="title"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="margini1">
            <ion-item lines="none">
              <ion-input class="infield" name="category" type="text" placeholder="Category" [(ngModel)]="category"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="margini1">
            <ion-item lines="none">
              <ion-input class="infield" name="description" type="text" placeholder="Description" [(ngModel)]="description"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="margini1">
            <ion-item lines="none">
              <ion-input class="infield" name="reqprice" type="text" placeholder="Requested Price" [(ngModel)]="reqprice"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="margini1">
            <ion-item lines="none">
              <ion-input class="infield" name="contactphone" type="tel" placeholder="Contact Phone" [(ngModel)]="contactphone"> </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="margini1">
            <ion-button class="bigbutton" (click)="newoffer()"> <p class="styleb"> INSERT OFFER </p> </ion-button>
          </ion-row>

        </ion-col>
    </ion-grid>
  </form>
</ion-content>
