<app-topbar [hidden]='tBarHide' [tBarIcon1]='tBarIcon1Hide' [tBarText]='tBarTextCrt' [tBarIcon2]='tBarIcon2Hide'> </app-topbar>

<ion-content>
  <ion-grid>
    <ion-col>
      <br><br>
      <ion-slides pager>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="titlu"> Welcome to Bonanza </ion-card-title>
              <ion-card-subtitle class="subtext1"> Easiest way to share tools! </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="\assets\doodleH.svg" alt="Logo">
              <p class="paratext"> Best deals inside... </p>
              <br>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide *ngFor="let articol of bazaSeparata">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="titlu"> Oferta zilei! </ion-card-title>
              <ion-card-subtitle class="subtext1"> Ultima aparitie&nbsp;-&nbsp;{{articol.categorie}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content (click)="displayArtModal( articol )">
              <img src={{articol.srcimg}} alt={{articol.categorie}}>
              <p class="paratext">{{articol.gen}}&nbsp;{{articol.zona}}&nbsp;-&nbsp;{{articol.pretpezi}}&nbsp;lei/zi </p>
              <br>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

      <br>

      <ion-row class="margini0">
        <ion-button class="bigbutton" (click)="this.router.navigateByUrl('login')">
          <p class="styleb"> LOGIN </p>
        </ion-button>
      </ion-row>

      <ion-row class="margini0">
        <ion-button class="bigbutton2" (click)="this.router.navigateByUrl('register')">
          <p class="styleb2"> REGISTER </p>
        </ion-button>
      </ion-row>

    </ion-col>
  </ion-grid>
</ion-content>

<app-footbar [hidden]='fBarHide' [fBarIcon1]='fBarIcon1Hide' [fBarText]='fBarTextCrt' [fBarIcon2]='fBarIcon2Hide'> </app-footbar>
