<ion-content>
  <app-topbar [paginatb]='paginacrt'> </app-topbar>

  <form #registerForm="ngForm">
    <ion-grid>
      <ion-col>
        <ion-row class="margini2"> <img src="\assets\BinocluSexy.svg" alt="FlexLogo"> </ion-row>
        <ion-row> <p class="style11"> Register a new account: </p> </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\icon\user.svg" alt="mail">
            </figure>
            <ion-input class="infield" name="name" type="text" placeholder="Name" [(ngModel)]="name"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\Log In\email.svg" alt="mail">
            </figure>
            <ion-input class="infield" name="email" type="email" placeholder="Email" [(ngModel)]="email"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\Log In\padlock.svg" alt="pass">
            </figure>
            <ion-input class="infield" name="password" type="password" placeholder="Password" [(ngModel)]="password"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1">
          <ion-item lines="none">
            <figure class="figicon">
              <img class="mydrop" src="\assets\icon\lacrima.svg" alt="lacrima">
              <img class="myicons" src="\assets\Log In\padlock.svg" alt="pass">
            </figure>
            <ion-input class="infield" name="confirm" type="password" placeholder="Confirm Password" [(ngModel)]="confirmpass"> </ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="margini1"> <ion-button class="bigbutton" (click)="register()"> <p class="styleb"> REGISTER </p> </ion-button> </ion-row>
        <ion-row class="style21"> <img src="\assets\Log In\Group Register.svg" alt="separator"> </ion-row>

        <ion-row>
          <ion-fab-button (click)="loginWithFacebook()"> <img src="\assets\icon\Facebook.png" alt="FacebookIcon"> </ion-fab-button>
          <ion-fab-button (click)="loginWithGoogle()"> <img src="\assets\icon\GI.png" alt="GoogleIcon"> </ion-fab-button>
        </ion-row>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
